* {
	background-image: url('photos/bio.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-blend-mode: overlay;
	box-sizing: border-box;
	display: flex;
	background-color: rgba(0, 0, 0, 0.8); /* Overlay preto com 50% de opacidade */

}

/* Correções gerais */

html, body {
	overflow-x: hidden;
}

body {font-family: "Lato", sans-serif
}

/* Estilo da Navbar */
.w3-top .w3-bar {
	justify-content: center;
	align-items: center;
}

.w3-bar .w3-bar-item {
	padding: 10px 20px;
	text-align: center;
	flex: none;
}

/* Responsivo para dispositivos móveis */
.w3-bar .w3-right {
	margin-left: auto;
}

.w3-quarter img {
	margin-bottom: -6px;
	cursor: pointer;
}

.w3-quarter img:hover {
	opacity: 0.4;
	transition: 0.3s;
}

.mySlides {
	display: none;
}

	.social, .social i, .w3-center .social {
	display: none;
	padding: 0px;
	margin: 0px;
	line-height: 0;
}

.w3-bar .w3-right {
	padding: 0;
	margin: 0;
}

.nav {
	padding: 0;
	margin: 0;
}

.titulo {
	color: beige;
	padding-top: 50px;
	height: 100px;
	position:  initial; /* Necessário para posicionar o overlay */
	/* Adiciona um overlay translúcido */
	width: 100%; /* Garante que a seção cubra 100% da largura da viewport */
	align-items: center; /* Centraliza verticalmente o conteúdo */
	justify-content: center; /* Centraliza horizontalmente o conteúdo */
	margin: 0px;
}

.social {
	background-color: rgba(0, 0, 0, 0.6); /* Overlay preto com 50% de opacidade */
	color: rgba(255, 254, 254, 0.831);
	flex-direction: row;
	width: 100%;
	padding-left: 150px;
	padding-right: 150px;
	padding-bottom: 50px;
	align-items: center;
	justify-content: space-around;
	font-size: 2.5vh; /* Aumenta o tamanho dos ícones */
	color: #fff;
	transition: transform 0.3s ease-in-out;
}
.social i:hover {
	transform: scale(1.1); /* Efeito de zoom */
	color: rgba(212, 132, 0, 0.928);
}

/* Bio Section */
#bio {
	text-shadow: 1px 2px 1px rgba(8, 8, 8, 0.6), 3px 2px 2px rgba(0, 0, 0, 0.645), 1px 2px 3px rgba(0, 0, 0, 0.654);
	background-size: contain; /* Faz a imagem cobrir toda a área */
	/* Adiciona um overlay translúcido */
	flex-direction: row;
	align-items: flex-start;
	justify-content: left;
	text-align: left;
	padding-bottom: 20px;
	width: 100%;
	font-size: 2.5vh;
}

.bio-eng {
	color: rgb(176, 176, 176);
	text-shadow: 1px 1px 4px rgb(0, 0, 0);
	padding: 10px;
	width: 45%;
	max-width: 50%;

}

.bio-pt {
	color: rgb(203, 203, 203);
	text-shadow: 1px 1px 4px rgb(0, 0, 0);
	padding: 10px;
	width: 49%;
	max-width: 50%;

}

.w3-row {
	margin: 0px 0px 0px 0px;
}

.video {
	width: 100%;
	align-items: center;
	justify-content: center;
	height: min-content;
	position:  initial; /* Necessário para posicionar o overlay */
	color: beige;
	/* Adiciona um overlay translúcido */
	padding-top: 0px;
}

#contact {
	min-width: 100%;
	display: inherit;
	align-items: flex-start;
	justify-content: flex-start;
	height: min-content;
	position:  initial; /* Necessário para posicionar o overlay */
	padding: 0px 0px 0px 50px;
	color: beige;
	margin: -30px 0 0;
}

.fa {
	text-align: center;
}

#contact i {
	margin-bottom: 10%;
}

#contact a {
	padding-left: 2%;
	text-align: center; /* Texto justificado à direita */
	align-items: flex-end; /* Alinhar os itens à direita */
	text-justify: auto;
	align-content: end;
}





@media (max-width: 414px) {

	* {
		background-attachment: scroll; /* Troque de fixed para scroll em telas menores */
	}

	.social, .video, .titulo {
		max-width: 80%;
		margin: auto;
		padding: 0px 0px;
	}

	.social {
		color: rgba(255, 254, 254, 0.831);
		flex-direction: row;
		font-size: 2.5vh;
		width: 100%;
		align-items: flex;
		justify-content: space-between;
		padding: 0px 0px;
		padding-bottom: 50px;
		flex-wrap: wrap; /* Permite a quebra dos itens para uma nova linha */
		margin: 0;
		max-width: 60%;
		max-height: 10px; /* Define a altura máxima para limitar o número de linhas */
	}

	.social i {
		width: auto;
		flex-wrap: wrap;
		justify-items: center;
		flex-basis: 22%; /* Define que cada ícone ocupe aproximadamente 22% da largura para caberem 4 por linha */
		max-width: 22%;
		text-align: center;

	}

	.social i:hover {
		transform: scale(1.1); /* Efeito de zoom */
		color: rgba(212, 132, 0, 0.928);
	}

	.nav {
		justify-content: flex-start;  /* Alinha o ícone à esquerda */
		align-items: left;          /* Alinha verticalmente ao centro */
		width: auto;                  /* Garante que o contêiner ocupe toda a largura */
		padding: 0;                   /* Remove qualquer padding interno */
		margin: 0;                    /* Remove margens externas */
	}

#bio {
	flex-direction: inherit; /* Aplica column em dispositivos móveis */
	max-width: 100%;
	width: 100%;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	text-align: start;
	background-color: rgba(0, 0, 0, 0.8); /* Overlay preto com 50% de opacidade */
}

.w3-content, .w3-auto, .w3-container, .w3-panel {
	margin-left: 0%;
	margin-right: 0%;
	padding-top: 5px;
	padding-left: 5%;
	padding-right: 0;
}

.nav {
	justify-content: flex-start;  /* Alinha o ícone à esquerda */
	align-items: center;          /* Alinha verticalmente ao centro */
	width: 100%;                  /* Garante que o contêiner ocupe toda a largura */
	padding: 0;                   /* Remove qualquer padding interno */
	margin: 0;                    /* Remove margens externas */
}

.nav i {
	font-size: 24px;              /* Ajuste o tamanho do ícone */
	margin-left: 0;               /* Garante que o ícone não tenha margem à esquerda */
}

.w3-bar-item {
	font-size: 22px;
}

.titulo {
	flex-wrap: wrap;
	padding: 50px;
	width: auto;
	flex-direction: row;
}

.w3-center.social {
	padding-left: 110px;
	padding-right: 110px;
	margin: 0px;
	max-width: 100%;
	align-items: center;
	vertical-align: middle;
	align-content: center;
	line-break: auto;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;
}

.w3-center.social i {
	max-width: 40%; /* Ajuste o tamanho conforme necessário */
	margin: 10px 50px;
	text-align: center;
}



.social i {
	padding: 15px 0; /* Ajusta o espaçamento vertical entre os ícones em telas pequenas */
	font-size: 2.5vh; /* Aumenta o tamanho dos ícones */
	color: #fff;
	transition: transform 0.3s ease-in-out;
}

#music {
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.6); /* Overlay preto com 50% de opacidade */
}

.w3-col.m3, .w3-quarter {
width: 50%;
}

.video {
	background-color: rgba(0, 0, 0, 0.8); /* Overlay preto com 50% de opacidade */
}
}

@media (max-width: 220px) {
	h2 {
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		font-size: 14pt !important;
		align-items: center;
		justify-content: space-around !important;
	}
}
