#bio {
	background-image: url('photos/bio.png');
	background-size: contain; /* Faz a imagem cobrir toda a área */
	background-position: center; /* Centraliza a imagem */
	background-repeat: no-repeat; /* Evita que a imagem se repita */
	background-attachment: fixed; /* Faz a imagem se fixar na tela ao rolar */
	/* Adiciona um overlay translúcido */
	background-color: rgba(0, 0, 0, 0.1); /* Preto com 50% de opacidade */
	background-blend-mode: overlay; /* Mistura a imagem com o overlay */
	color: #fff; /* Deixa o texto branco para garantir contraste */
	box-sizing: border-box; /* Inclui padding e border na largura e altura */
	display: flex;

}


.titulo {
	color: beige;
	padding-top: 10px;
	background-image: url('photos/bio.png');
	background-size: cover; /* Faz a imagem cobrir toda a área */
	background-position: center; /* Centraliza a imagem */
	background-repeat: no-repeat; /* Evita que a imagem se repita */
	background-attachment: fixed; /* Faz a imagem se fixar na tela ao rolar */
	height: 100px;
	background-attachment: fixed; /* Faz a imagem se fixar na tela ao rolar */
	position: relative; /* Necessário para posicionar o overlay */
	background-color: rgba(0, 0, 0, 0.1); /* Preto com 50% de opacidade */
	position:  initial; /* Necessário para posicionar o overlay */
	/* Adiciona um overlay translúcido */
	background-blend-mode: overlay; /* Mistura a imagem com o overlay */
	width: 100%; /* Garante que a seção cubra 100% da largura da viewport */
	box-sizing: border-box; /* Inclui padding e border na largura e altura */
	display: flex;
	align-items: center; /* Centraliza verticalmente o conteúdo */
	justify-content: center; /* Centraliza horizontalmente o conteúdo */
}



