

#bio {
	/* background-image: url('photos/bio.webp');
	background-size: contain; /* Faz a imagem cobrir toda a área */
	background-position: center; /* Centraliza a imagem */
	background-repeat: no-repeat; /* Evita que a imagem se repita */
	background-attachment: fixed; /* Faz a imagem se fixar na tela ao rolar */
	/* Adiciona um overlay translúcido */
	background-color: rgba(0, 0, 0, 0.1); /* Preto com 50% de opacidade */
	background-blend-mode: overlay; /* Mistura a imagem com o overlay */
	color: #fff; /* Deixa o texto branco para garantir contraste */
	box-sizing: border-box; /* Inclui padding e border na largura e altura */
	display: flex;

}

html {
  scroll-behavior: smooth;
}

#agenda>h2 {
	display: none;
}

h3, h4 {
	font-size: 2.7vw;
}

h3 {
	line-height: 1.1;

}

#newalbum {
	position: relative;
	font-size: 1.5vh;

}

.breakdown {
	margin-top: 80px;
}

/* Bottom right text */
.text-block {

  position: absolute;
  top: 20px;
  right: 10px;
  background-color: rgba(77, 77, 77, 0.607);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.icon-bar {
  width: 100%; /* Full-width */
  overflow: auto; /* Overflow due to float */
  background-color: #000; /* Add a hover color */
  padding-top: 60px;

}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
  background-color: #000; /* Add a hover color */

}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

.active {
  background-color: #04AA6D; /* Add an active/current color */
}

.titulo {
	color: beige;
	padding-top: 0px;
	height: 100px;
	background-attachment: fixed; /* Faz a imagem se fixar na tela ao rolar */
	position: relative; /* Necessário para posicionar o overlay */
	background-color: rgba(0, 0, 0, 1); /* Preto com 50% de opacidade */
	position:  initial; /* Necessário para posicionar o overlay */
	/* Adiciona um overlay translúcido */
	background-blend-mode: overlay; /* Mistura a imagem com o overlay */
	width: 100%; /* Garante que a seção cubra 100% da largura da viewport */
	box-sizing: border-box; /* Inclui padding e border na largura e altura */
	display: flex;
	align-items: center; /* Centraliza verticalmente o conteúdo */
	justify-content: center; /* Centraliza horizontalmente o conteúdo */
}


#music {
	flex-direction: column;
	background-blend-mode: overlay; /* Mistura a imagem com o overlay */
	background-color: #000; /* Add a hover color */

}

#music>h2 {
	display: none;
}

#agenda {
	background-color: black;
}

#bio>h2 {
	display: none;
}

/* Correções gerais */

html, body {
	overflow-x: hidden;
	background-color: black;
}

body {
	font-family: "Lato", sans-serif;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-display: swap;

}

/* Estilo da Navbar */
.w3-top .w3-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000; /* Add a hover color */

}

.w3-bar .w3-bar-item {
	padding: 10px 20px;
	text-align: center;
	flex: none;
}

/* Responsivo para dispositivos móveis */
.w3-bar .w3-right {
	margin-left: auto;
}

.w3-quarter img {
	margin-bottom: -6px;
	cursor: pointer;
}

.w3-quarter img:hover {
	opacity: 0.4;
	transition: 0.3s;
}

.mySlides {
	display: none;
}

#contact>h2 {
	display: none;
}

#contact {
	/*background-image: url('photos/bio.webp'); */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: rgba(0, 0, 0, 0.8); /* Overlay preto com 50% de opacidade */
	min-width: 100%;
	box-sizing: border-box;
	display: inherit;
	align-items: flex-start;
	justify-content: flex-start;
	height: min-content;
	position:  initial; /* Necessário para posicionar o overlay */
	color: beige;
	position: relative; /* Necessário para posicionar o overlay */
	/* Adiciona um overlay translúcido */
	background-blend-mode: overlay; /* Mistura a imagem com o overlay */
	margin: -30px 0 0;
	padding-left: 50px;
}


.fa {
	text-align: center;
}


/* Título com imagem de fundo */
.titulo {
	color: beige;
	/*background-image: url('photos/bio.webp'); */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: fit-content;
	background-color: rgba(0, 0, 0, 1); /* Overlay preto com 50% de opacidade */	width: 100%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 0px;
	padding-bottom: 10px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.social {
	/*background-image: url('photos/bio.webp'); */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: rgba(0, 0, 0, 0.6); /* Overlay preto com 50% de opacidade */
	color: rgba(255, 254, 254, 0.831);
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	width: 100%;
	padding-left: 150px;
	padding-right: 150px;
	align-items: center;
	justify-content: space-around;
	padding-bottom: 50px;
	background-blend-mode: overlay; /* Mistura a imagem com o overlay */
	font-size: 2.5vh; /* Aumenta o tamanho dos ícones */
	color: #fff;
	transition: transform 0.3s ease-in-out;

}
.social i:hover {
	transform: scale(1.1); /* Efeito de zoom */
	color: rgba(212, 132, 0, 0.928);
}



.video {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: rgba(0, 0, 0, 0.6); /* Overlay preto com 50% de opacidade */
	width: 100%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	height: min-content;
	position:  initial; /* Necessário para posicionar o overlay */
	color: beige;
	position: relative; /* Necessário para posicionar o overlay */
	/* Adiciona um overlay translúcido */
	background-blend-mode: overlay; /* Mistura a imagem com o overlay */
	padding-top: 0px;
}

/* Bio Section */
#bio {

	font-size: 12pt;
	text-shadow: 1px 2px 1px rgba(8, 8, 8, 0.6), 3px 2px 2px rgba(0, 0, 0, 0.645), 1px 2px 3px rgba(0, 0, 0, 0.654);
	text-wrap: balance;
}

.bio-eng {
	color: rgb(176, 176, 176);
	text-shadow: 1px 1px 4px rgb(0, 0, 0);
	padding: 10px;
	width: 45%;

}

.bio-pt {
	color: rgb(203, 203, 203);
	text-shadow: 1px 1px 4px rgb(0, 0, 0);
	padding: 10px;
	width: 49%;
}

.w3-row {
	margin: 0px 0px 0px 0px;
	}



/* Imagem de fundo translúcida para a bio */
#bio {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: rgba(0, 0, 0, 0.8); /* Overlay preto com 50% de opacidade */
	color: #fff;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: left;
	justify-content: left;
	text-align: left;
	padding-bottom: 20px;
	width: 100%;
	font-size: 2.5vh;
}



@media (max-width: 220px) {
	h2 {
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		font-size: 14pt !important;
		align-items: center;
		justify-content: space-around !important;

	}

	#bio {
		text-wrap: balance;
	}


	#newalbum {
		position: relative;
		font-size: 1.5vh;

	}

	/* Bottom right text */
	.text-block {

	  position: absolute;
	  top: 20px;
	  right: 10px;
	  background-color: rgba(77, 77, 77, 0.607);
	  color: white;
	  padding-left: 20px;
	  padding-right: 20px;
	}

	.icon-bar {
	  width: 100%; /* Full-width */
	  background-color: rgba(0, 0, 0, 1); /* Dark-grey background */
	  overflow: auto; /* Overflow due to float */
		  padding-top: 40px;
	}

	.icon-bar a {
	  float: left; /* Float links side by side */
	  text-align: center; /* Center-align text */
	  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
	  padding: 12px 0; /* Some top and bottom padding */
	  transition: all 0.3s ease; /* Add transition for hover effects */
	  color: white; /* White text color */
	  font-size: 36px; /* Increased font size */
	}

	.icon-bar a:hover {
	  background-color: #000; /* Add a hover color */
	}



}


@media (max-width: 965px) {


	#newalbum {
		position: relative;
		font-size: 1.5vh;
		background-color: rgba(77, 77, 77, 0.336);
	}

	/* Bottom right text */
	.text-block {

	  position: absolute;
	  top: 20px;
	  right: 10px;
	  background-color: rgba(77, 77, 77, 0.336);
	  color: white;
	  padding-left: 20px;
	  padding-right: 20px;
	}



	.icon-bar {
	  width: 100%; /* Full-width */
	  background-color: black; /* Dark-grey background */
	  overflow: auto; /* Overflow due to float */
		  padding-top: 40px;
	}

	.icon-bar a {
	  float: left; /* Float links side by side */
	  text-align: center; /* Center-align text */
	  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
	  padding: 12px 0; /* Some top and bottom padding */
	  transition: all 0.3s ease; /* Add transition for hover effects */
	  color: white; /* White text color */
	  font-size: 36px; /* Increased font size */
	}

	.icon-bar a:hover {
	  background-color: rgba(0, 0, 0, 0.368); /* Add a hover color */
	}



	.social {
		max-height: 40px;
	}


	.social, .video, .titulo {

		max-width: 80%;
		margin: auto;
		padding: 0px 0px;

	}

	.social i {
		width: auto;
		box-sizing: border-box;
		flex-wrap: wrap;
		justify-items: center;
	}

	.social i:hover {
		transform: scale(1.1); /* Efeito de zoom */
		color: rgba(212, 132, 0, 0.928);
	}

	.nav {
		display: flex;               /* Utiliza flexbox para facilitar o alinhamento */
		justify-content: flex-start;  /* Alinha o ícone à esquerda */
		align-items: left;          /* Alinha verticalmente ao centro */
		width: auto;                  /* Garante que o contêiner ocupe toda a largura */
		padding: 0;                   /* Remove qualquer padding interno */
		margin: 0;                    /* Remove margens externas */
		box-sizing: border-box;       /* Garante que largura leve em conta bordas e padding */


	}

#bio {
	flex-direction: inherit; /* Aplica column em dispositivos móveis */
	max-width: 100%;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	text-align: start;
	background-color: rgba(0, 0, 0, 0.8); /* Overlay preto com 50% de opacidade */
	background-blend-mode: overlay; /* Mistura a imagem com o overlay */
	text-wrap: balance;

}

.w3-content, .w3-auto, .w3-container, .w3-panel {
	margin-left: 0%;
	margin-right: 0%;
	padding-top: 5px;
	padding-left: 5%;
	padding-right: 0;

}

.nav {
	display: flex;               /* Utiliza flexbox para facilitar o alinhamento */
	justify-content: flex-start;  /* Alinha o ícone à esquerda */
	align-items: center;          /* Alinha verticalmente ao centro */
	width: 100%;                  /* Garante que o contêiner ocupe toda a largura */
	padding: 0;                   /* Remove qualquer padding interno */
	margin: 0;                    /* Remove margens externas */
	box-sizing: border-box;       /* Garante que largura leve em conta bordas e padding */
}

.nav i {
	font-size: 24px;              /* Ajuste o tamanho do ícone */
	margin-left: 0;               /* Garante que o ícone não tenha margem à esquerda */
}

.w3-bar-item {
	font-size: 22px;
}

.titulo {
	flex-wrap: wrap;
	width: auto;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

.w3-center.social {
	padding-left: 110px;
	padding-right: 110px;
	margin: 0px;
	max-width: 100%;
	align-items: center;
	vertical-align: middle;
	align-content: center;
	line-break: auto;
	flex-wrap: wrap;
	justify-content: space-between;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;

}

.w3-center.social i {
	max-width: 40%; /* Ajuste o tamanho conforme necessário */
	margin: 10px 50px;
	text-align: center;
}

.social {
	/*background-image: url('photos/bio.webp'); */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: rgba(255, 254, 254, 0.831);
	background-color: rgba(0, 0, 0, 0.8); /* Overlay preto com 50% de opacidade */

	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	font-size: 2.5vh;
	width: 100%;
	align-items: flex;
	justify-content: space-between;
	padding: 0px 0px;
	padding-bottom: 50px;
	flex-wrap: wrap; /* Permite a quebra dos itens para uma nova linha */
	background-blend-mode: overlay; /* Mistura a imagem com o overlay */
	margin: 0;
	max-width: 60%;
}

.social i {
	padding: 15px 0; /* Ajusta o espaçamento vertical entre os ícones em telas pequenas */
	font-size: 2.5vh; /* Aumenta o tamanho dos ícones */
	color: #fff;
	transition: transform 0.3s ease-in-out;
}

#music {
	flex-direction: column;
	background-blend-mode: overlay; /* Mistura a imagem com o overlay */
	background-color: #000; /* Add a hover color */

}

.w3-col.m3, .w3-quarter {
width: 50%;
}

.video {
	background-color: rgba(0, 0, 0, 0.8); /* Overlay preto com 50% de opacidade */
}




}




.bio-pt {
	max-width: 50%;
}
.bio-eng {
	max-width: 50%;

}


#contact {
	margin: 0px;
	padding: 0px 0px 0px 5%;
	border: 5%;
	text-wrap: balance;

}

#contact i {
	margin-bottom: 10%;
}


#newalbum {
	position: relative;
	font-size: 1.5vh;

}

/* Bottom right text */
.text-block {

  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(77, 77, 77, 0.607);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.icon-bar {
  width: 100%; /* Full-width */
  background-color: black; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
  padding-top: 80px;
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}


#contact a {
	padding-left: 2%;
	box-sizing: border-box;
	text-align: center; /* Texto justificado à direita */
	align-items: flex-end; /* Alinhar os itens à direita */
	text-justify: auto;
	align-content: end;
	align-items: end;
	text-align: right;
}

@media (max-width: 480px) {

	body {
		background-blend-mode: overlay; /* Mistura a imagem com o overlay */

	}

	.social, .social i, .w3-center .social {
		display: none;
		padding: 0px;
		margin: 0px;
		line-height: 0;

	}

	.w3-bar .w3-right {
		padding: 0;
		margin: 0;
	}

	.titulo {
		margin: 0px;
		padding: 0px;
	}

	.nav {
		padding: 0;
		margin: 0;
	}

	#contact {
		background-color: rgba(0, 0, 0, 0.8); /* Overlay preto com 50% de opacidade */
		background-blend-mode: overlay; /* Mistura a imagem com o overlay */

	}


	#newalbum {
		position: relative;
		font-size: 1.3vh;

	}

	/* Bottom right text */
	.text-block {

	  position: absolute;
	  top: 20px;
	  right: 10px;
	  background-color: rgba(77, 77, 77, 0.607);
	  color: white;
	  padding-left: 10px;
	  padding-right: 10px;
	}

	.icon-bar {
	  width: 100%; /* Full-width */
	  background-color: rgba(0, 0, 0, 1);
	  overflow: auto; /* Overflow due to float */
	  padding-top: 60px;
	}

	.icon-bar a {
	  float: left; /* Float links side by side */
	  text-align: center; /* Center-align text */
	  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
	  padding: 12px 0; /* Some top and bottom padding */
	  transition: all 0.3s ease; /* Add transition for hover effects */
	  color: white; /* White text color */
	  font-size: 36px; /* Increased font size */
	  background-color: rgba(0, 0, 0, 0); /* Add a hover color */

	}

	.icon-bar a:hover {
	  background-color: rgba(0, 0, 0, 0.549); /* Add a hover color */
	}



}

p {
	text-wrap: balance;


}


.album-img {
  /* The image used */
  background-image: url("./photos/album.webp");


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.mediabar {
  position: absolute;
  margin: 10px;
  width: auto;
}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: rgba(29, 29, 29, 0.597);
  columns: inherit;
}

/* Navbar links */
.topnav a, h1 {
  float: inline-start;
  color: #f2f2f2;
  text-align: match-parent;
  padding:  ;
  text-decoration: none;
  font-size: 18px;
}


.topnav a:hover {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(230, 227, 227, 1);
}


@media (min-width: 480px;) {

		#newalbum {
			position: relative;
			font-size: 1.3vh;

		}

		/* Bottom right text */
		.text-block {

		  position: absolute;
		  top: 20px;
		  right: 10px;
		  background-color: rgba(77, 77, 77, 0.607);
		  color: white;
		  padding-left: 10px;
		  padding-right: 10px;
		}




		/* Position the navbar container inside the image */
		.container {
		  position: absolute;
		  margin: 20px;
		  width: 135px;
		}

		/* The navbar */
		.topnav {
		  overflow: hidden;
		  background-color: rgba(117, 117, 117, 0.443);
		}

		/* Navbar links */
		.topnav a {
		  float: left;
		  color: #f2f2f2;
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		  font-size: 17px;
		}

		.topnav a:hover {
		  background-color: #ddd;
		  color: black;
		}



		.icon-bar {
		  width: 100%; /* Full-width */
		  overflow: auto; /* Overflow due to float */
		  background-color: black;
		  padding-top: 60px;
		}

		.icon-bar a {
		  float: left; /* Float links side by side */
		  text-align: center; /* Center-align text */
		  width: 14,28%; /* Equal width (5 icons with 20% width each = 100%) */
		  padding: 12px 0; /* Some top and bottom padding */
		  transition: all 0.3s ease; /* Add transition for hover effects */
		  color: white; /* White text color */
		  font-size: 36px; /* Increased font size */
		  background-color: black;
		}

		.icon-bar a:hover {
		}

		h4 {
			font-size: 1.5vh;
		}

}



@media (max-width: 491px;) {

	#newalbum {
		position: relative;
		font-size: 1.3vh;

		}

		/* Bottom right text */
		.text-block {

	  	position: absolute;
	  	top: 10px;
	  	right: 10px;
	  	background-color: rgba(77, 77, 77, 0.607);
	  	color: white;
	  	padding-left: 10px;
	  	padding-right: 10px;
		}


		.icon-bar a {
			float: left;
			text-align: center;
			width: 20%;
			padding: 12px 0;
			transition: all 0.3s ease;
			color: white;
			font-size: 16px;
		}

	h4 {
		font-size: 1.5vh;
	}
}

@media (min-width: 491px;) {

	.icon-bar a {
		float: left;
		text-align: center;
		width: 20%;
		padding: 12px 0;
		transition: all 0.3s ease;
		color: white;
		font-size: 16px;
	}

	h4 {
		font-size: 1.5vh;
	}
}

h4 {
	line-height: 1;
}
